# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Local Environment & Uploads
.env
backend/uploads/*
!backend/uploads/.gitkeep
